.XLarge, .Large {
  margin: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Medium {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Small {
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.XSmall {
  margin: 0;
}

mat-card-footer {
  padding: 0 1em;
}
