<mat-toolbar [class]="currentScreenSize">
  <img src="assets/CCM%20Full%20Logo.png">
</mat-toolbar>

<mat-card [class]="currentScreenSize">
  <mat-card-header>
    <img mat-card-avatar src="assets/CCM%20Logo%20-%20no%20words.jpeg" *ngIf="currentScreenSize === 'XSmall'">
    <mat-card-title>
      Ramadan Donations
    </mat-card-title>
    <mat-card-subtitle>
      Day By Day Setup
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-card-footer>
    <p>
      If you have any difficulties or questions, please contact
      <a href="mailto:daybyday@cambridgecentralmosque.org" target="_blank" rel="noopener noreferer">daybyday@cambridgecentralmosque.org</a>,
      and we will endeavour to respond as soon as possible. Thank you for supporting Cambridge Central Mosque.<br/>
      ©The Cambridge Mosque Trust | Registered UK Charity No. 1164931
    </p>
  </mat-card-footer>
</mat-card>
