mat-card.XLarge, mat-card.Large {
  margin: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

mat-card.Medium {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

mat-card.Small {
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

mat-card.XSmall {
  margin: 0;
}

mat-toolbar.XSmall {
  justify-content: center;
}

mat-card-footer {
  padding: 0 1em;
  p {
    text-align: center;
  }
}

mat-toolbar {
  padding: 2.5em;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 0.25em;
}
