<!--<mat-toolbar>-->
<!--  <img src="assets/CCM%20Full%20Logo.png">-->
<!--</mat-toolbar>-->

<mat-card [class]="currentScreenSize" class="main-container">
  <mat-card-header>
    <img mat-card-avatar src="assets/CCM%20Logo%20-%20no%20words.jpeg">
    <mat-card-title>
      CCM Ramadan - Day By Day 2023
    </mat-card-title>
    <mat-card-subtitle>
      Setup Your Daily Donation
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-card-footer>
    <h4>
      If you have any difficulties, please contact
      <a href="mailto:daybyday@cambridgecentralmosque.org" target="_blank" rel="noopener noreferer">daybyday@cambridgecentralmosque.org</a>,
      or call us on <a href="tel:01223654020">01223 654 020</a> (ex.0).
    </h4>
  </mat-card-footer>
</mat-card>
