<h1>Counters</h1>
<mat-slide-toggle [(ngModel)]="sound" (click)="onSoundChange()" color="primary">Enable Sound on New Sign Up</mat-slide-toggle>
<p>Brick Worthy: {{(counter | async)?.target}}</p>
<p>Through Waseem: {{(counter | async)?.waseem}}</p>
<p>Total: {{(counter | async)?.general}}</p>
<h1>Controls</h1>
<button mat-raised-button (click)="downloadDigitalWall()">Download Digital Wall Data</button>
<h3>Decrement Counters – Use At Your Own Peril</h3>
<mat-checkbox color="primary" [(ngModel)]="decrementGeneral" >General</mat-checkbox>
<mat-checkbox color="primary" [(ngModel)]="decrementBrick">Brick Worthy</mat-checkbox>
<mat-checkbox color="primary" [(ngModel)]="decrementWaseem">Waseem</mat-checkbox>
<button
  mat-raised-button color="primary"
  [disabled]="decrementIsDisabled"
  (click)="decrementCounters()"
>
  Decrement Selected Counters
</button>

