<!-- TODO: Check all the text on this page -->
<mat-stepper orientation="vertical" linear #stepper (selectionChange)="stepperSelectionChange($event.selectedIndex)">
  <mat-step *ngIf="!!showDonationLengths" [editable]="canEdit" [completed]="!canEdit || donationLengthComplete">
    <ng-template matStepLabel>How Long Would You Like To Donate For?</ng-template>
    <p *ngIf="showBackdatingNote">
      Note: If the period you select has already begun you will be charged a lump sum for the days you have missed,
      so you can make up those donations and inshallah still receive the reward.
    </p>
    <button
      mat-raised-button color="primary"
      *ngFor="let donationLength of (showDonationLengths || []); first as isFirst"
      (click)="selectDonationLength(donationLength)" [class.firstBtn]="isFirst"
    >{{getDonationLengthText(donationLength)}}</button>
  </mat-step>

  <mat-step [editable]="canEdit" [completed]="!canEdit || donationAmountComplete">
    <ng-template matStepLabel>Choose Your Daily Amount</ng-template>
    <ng-container *ngIf="!!showPresetAmounts">
      <div class="amounts-container">
        <button
          mat-raised-button color="primary"
          *ngFor="let presetAmount of (showPresetAmounts || []); first as isFirst"
          [class.firstBtn]="isFirst"
          (click)="setAmount(presetAmount)"
        >£{{presetAmount}} / day</button>
      </div>
      <!-- TODO: add custom amount button -->
      <mat-divider></mat-divider>
    </ng-container>
    <div class="custom-amounts-container">
      <mat-form-field floatLabel="always">
        <mat-label>Custom Amount</mat-label>
        <input matInput type="number" placeholder="0.00"  [formControl]="amount">
        <span matTextPrefix>£&nbsp;</span>
        <mat-error *ngIf="amount.invalid">{{errorMessage(amount)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="actions-container">
      <button mat-stroked-button matStepperPrevious>BACK</button>
      <button mat-stroked-button color="primary" matStepperNext [disabled]="!donationAmountComplete">NEXT</button>
    </div>
  </mat-step>

  <mat-step [editable]="canEdit" [completed]="!canEdit || donationDetailsComplete">
    <ng-template matStepLabel>Details</ng-template>
    <h2>Contact Details:</h2>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your Name" [formControl]="contactInfo.controls.name">
      <mat-error *ngIf="contactInfo.controls.name.invalid">{{errorMessage(contactInfo.controls.name)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="xxx@example.com" [formControl]="contactInfo.controls.email">
      <mat-error *ngIf="contactInfo.controls.email.invalid">{{errorMessage(contactInfo.controls.email)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="+XX XXXX XXXXXX" [formControl]="contactInfo.controls.phone">
      <mat-error *ngIf="contactInfo.controls.phone.invalid">{{errorMessage(contactInfo.controls.phone)}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address (including Post Code)</mat-label>
      <input matInput placeholder="309-313 Mill Rd, Cambridge, CB1 3DF, UK" [formControl]="contactInfo.controls.address">
      <mat-error *ngIf="contactInfo.controls.address.invalid">{{errorMessage(contactInfo.controls.address)}}</mat-error>
    </mat-form-field>
    <h2>Donate on behalf of:</h2>
    <h3>(Can be yourself or someone else)</h3>
    <p>
      If you are gifted a framed brick, this name will be on the plaque.
      If you are listed on the digital wall of donors, this name will be on the wall.<br/>
      Max 25 characters.
    </p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="donorInfo.controls.onBehalfOf" placeholder="Donate on behalf of:">
      <mat-error *ngIf="donorInfo.controls.onBehalfOf.invalid">{{errorMessage(donorInfo.controls.onBehalfOf)}}</mat-error>
    </mat-form-field>
    <p>If you do not wish the donation to be noted on our website and other media, please check the anonymous option.</p>
    <mat-slide-toggle color="primary" [formControl]="donorInfo.controls.anonymous">Anonymous</mat-slide-toggle>
    <h2>Consent</h2>
    <h4>Gift Aid</h4>
    <p>
      If you are a UK taxpayer and are eligible for Gift Aid, you may select the below option.
      If you do we will get in touch regarding registering your Day By Day donation for Gift Aid, which will result
      in the <b>government contributing an additional 25%</b> to your donation.
    </p>
    <mat-slide-toggle [formControl]="consent.controls.giftAid" color="primary">Consent to Gift Aid</mat-slide-toggle>
    <h4>Disclaimer</h4>
    <p *ngFor="let line of disclaimer">{{line}}</p>
    <mat-slide-toggle [formControl]="consent.controls.disclaimer" color="primary">Accept the disclaimer</mat-slide-toggle>
    <h4>Data and Privacy Policy</h4>
    <mat-slide-toggle [formControl]="consent.controls.privacy" color="primary">
      Accept our <a href="https://cambridgecentralmosque.org/legal/" target="_blank" rel="noopener noreferer">Data & Privacy Policy</a>
    </mat-slide-toggle>
    <div class="actions-container">
      <button mat-stroked-button matStepperPrevious>BACK</button>
      <button mat-stroked-button color="primary" matStepperNext [disabled]="!donationDetailsComplete">NEXT</button>
    </div>
  </mat-step>

  <mat-step [editable]="checkoutState !== checkoutStates.COMPLETE" [completed]="checkoutState === checkoutStates.COMPLETE" #checkoutStep>
    <ng-template matStepLabel>Setup Your Donation</ng-template>
    <div class="loading-container">
      <mat-progress-bar
        *ngIf="checkoutLoadingState.show"
        [mode]="checkoutLoadingState.mode"
        [value]="checkoutLoadingState.value"
        color="primary"
      ></mat-progress-bar>
    </div>
    <ng-container *ngIf="checkoutSummary != null">
      <h2>Summary:</h2>
      <p>Daily Amount: <b>{{checkoutSummary.amount | currency:"GBP"}} / day</b></p>
      <p>Start Date: <b>{{numberToDate(checkoutSummary.startDate) | date:"dd/MM/yyyy"}}</b></p>
      <p>Duration: <b>{{checkoutSummary.iterations}} days</b></p>
      <br/>
      <p>On behalf of: <b>{{checkoutSummary.onBehalfOf}}</b></p>
      <p>Anonymous: <b>{{checkoutSummary.anonymous}}</b></p>
      <br/>
      <p>Name: <b>{{checkoutSummary.name}}</b></p>
      <p>Email: <b>{{checkoutSummary.email}}</b></p>
      <p>Phone Number: <b>{{checkoutSummary.phone}}</b></p>
      <p>Address: <b>{{checkoutSummary.address}}</b></p>
      <p>Gift Aid: <b>{{checkoutSummary.giftAid ? "Yes" : "No"}}</b></p>
    </ng-container>
    <ng-container *ngIf="checkoutState === checkoutStates.NOT_BEGUN">
      <h2>Setup the Donation</h2>
      <p>
        The "SETUP DONATION" button below will allow you to enter your payment details. It will then bring you back to this page as you donation is setup.
        Please do not close the page.<br/>
        <b>Please note the transaction fees are lower when paying via direct debit, so please prefer this payment option if possible.</b>
      </p>
      <div class="actions-container">
        <button mat-stroked-button matStepperPrevious>BACK</button>
        <button mat-stroked-button color="primary" (click)="setupPayment()">SETUP DONATION</button>
      </div>
    </ng-container>
  </mat-step>

  <mat-step [editable]="!canEdit">
    <ng-template matStepLabel>Complete</ng-template>
    <h2>
      Your Day By Day donation has been setup!<br/>
      You should have received a confirmation email confirming the details,
      including whether you are amongst those who will be recieving a framed brick as a gift.
    </h2>
    <ng-container *ngIf="fullSummary !== null">
      <h3>Summary:</h3>
      <p>Daily Amount: <b>{{fullSummary.amount | currency:"GBP"}} / day</b></p>
      <p>Start Date: <b>{{numberToDate(fullSummary.startDate) | date:"dd/MM/yyyy"}}</b></p>
      <p>Duration: <b>{{fullSummary.iterations}} days</b></p>
      <br/>
      <p>On behalf of: <b>{{fullSummary.onBehalfOf}}</b></p>
      <p>Anonymous: <b>{{fullSummary.anonymous}}</b></p>
      <br/>
      <p>Name: <b>{{fullSummary.name}}</b></p>
      <p>Email: <b>{{fullSummary.email}}</b></p>
      <p>Phone Number: <b>{{fullSummary.phone}}</b></p>
      <p>Address: <b>{{fullSummary.address}}</b></p>
      <p>Gift Aid: <b>{{fullSummary.giftAid ? "Yes" : "No"}}</b></p>
    </ng-container>

    <button mat-stroked-button color="primary" (click)="goToMainSite()">Return to Main Website</button>
  </mat-step>
</mat-stepper>
