.amounts-container {
  margin-bottom: 1.5em;
}

button {
  box-sizing: border-box;
  font-size: 1.5em;
  padding: 1em;
  border-radius: 1em;
  margin-top: 0.5em;
}

.custom-amounts-container {
  padding-top: 1.5em;
  mat-form-field {
    width: 100%;
  }
}

* {
  width: 100%;
}

.actions-container {
  display: flex;
  * {
    flex-grow: 1;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
