<!--<div class="counters-container">-->
<!--  <h2>Total Signups: {{(countersService.counter | async)?.general}}</h2>-->
<!--  <h2>Signups of at least £30 for 30 days: {{(countersService.counter | async)?.target}}</h2>-->
<!--</div>-->
<mat-stepper
  [orientation]="stepperVertical ? 'vertical' : 'horizontal'"
  labelPosition="bottom" linear #stepper
  (selectionChange)="stepperSelectionChange($event.selectedIndex)">

  <mat-step *ngIf="!!showDonationLengths" [editable]="canEdit" [completed]="!canEdit || donationLengthComplete">
    <ng-template matStepLabel *ngIf="stepperVertical">Donation Length</ng-template>
    <h1 *ngIf="!stepperVertical">Donation Length</h1>
    <p *ngIf="showBackdatingNote">
      Daily Ramadan donations will begin immediately, while donations for missed days will be calculated and collected automatically.
    </p>
    <button
      mat-raised-button color="primary"
      *ngFor="let donationLength of (showDonationLengths || []); first as isFirst"
      (click)="selectDonationLength(donationLength)" [class.bigBtn]="isFirst"
    >{{getDonationLengthText(donationLength)}}</button>
  </mat-step>

  <mat-step [editable]="canEdit" [completed]="!canEdit || donationAmountComplete">
    <ng-template matStepLabel *ngIf="stepperVertical">Daily Amount</ng-template>
    <h1 *ngIf="!stepperVertical">Daily Amount</h1>
    <ng-container *ngIf="!!showPresetAmounts">
      <div class="amounts-container">
        <ng-container *ngIf="(amountToMeetTarget | async) as amountInfo">
          <button
            mat-raised-button color="primary"
            *ngIf="amountInfo.show"
            class="bigBtn"
            (click)="setAmount(amountInfo.amount)"
          >£{{amountInfo.amount}} / day</button>
        </ng-container>
        <button
          mat-raised-button color="primary"
          *ngFor="let presetAmount of (showPresetAmounts || [])"
          [class.bigBtn]="(amountToMeetTarget | async)?.amount === presetAmount"
          (click)="setAmount(presetAmount)"
        >£{{presetAmount}} / day</button>
        <button
          mat-raised-button color="primary" *ngIf="!showCustomAmount"
          (click)="showCustomAmount = true"
        >Other Amount</button>
      </div>
      <mat-divider *ngIf="showCustomAmount"></mat-divider>
    </ng-container>
    <ng-container *ngIf="showCustomAmount || !showPresetAmounts">
      <div class="custom-amounts-container">
        <mat-form-field floatLabel="always">
          <mat-label>Other Amount</mat-label>
          <input matInput type="number" placeholder="0.00" [formControl]="amount">
          <span matTextPrefix>£&nbsp;</span>
          <span matTextSuffix="">/day</span>
          <mat-error *ngIf="amount.invalid">{{errorMessage(amount)}}</mat-error>
        </mat-form-field>
      </div>
      <div class="actions-container" id="custom-amount-btn-container">
        <button mat-raised-button color="primary" matStepperNext [disabled]="!donationAmountComplete">NEXT</button>
      </div>
    </ng-container>
  </mat-step>

  <mat-step [editable]="canEdit" [completed]="!canEdit || donationDetailsComplete">
    <ng-template matStepLabel *ngIf="stepperVertical">Details</ng-template>
    <h1 *ngIf="!stepperVertical">Details</h1>
    <form autocomplete="on">
      <h2>Contact Details:</h2>
      <mat-form-field>
        <mat-label>First Name(s)</mat-label>
        <input matInput placeholder="First Name(s)" [formControl]="donorInfo.controls.firstName" name="given-name" autocomplete="given-name">
        <mat-error *ngIf="donorInfo.controls.firstName.invalid">{{errorMessage(donorInfo.controls.firstName)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput placeholder="Surname" [formControl]="donorInfo.controls.surname" name="family-name" autocomplete="family-name">
      <mat-error *ngIf="donorInfo.controls.surname.invalid">{{errorMessage(donorInfo.controls.surname)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="xxx@example.com" [formControl]="donorInfo.controls.email" type="email" name="email" autocomplete="email">
        <mat-error *ngIf="donorInfo.controls.email.invalid">{{errorMessage(donorInfo.controls.email)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="+XX XXXX XXXXXX" [formControl]="donorInfo.controls.phone" name="tel" autocomplete="tel">
        <mat-error *ngIf="donorInfo.controls.phone.invalid">{{errorMessage(donorInfo.controls.phone)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="309-313 Mill Rd, Cambridge, UK" [formControl]="donorInfo.controls.address" name="street-address" autocomplete="street-address">
        <mat-error *ngIf="donorInfo.controls.address.invalid">{{errorMessage(donorInfo.controls.address)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Post Code</mat-label>
      <input matInput placeholder="CB1 3DF" [formControl]="donorInfo.controls.postcode" name="postal-code" autocomplete="postal-code">
      <mat-error *ngIf="donorInfo.controls.postcode.invalid">{{errorMessage(donorInfo.controls.postcode)}}</mat-error>
      </mat-form-field>
      <h2>Donate on behalf of:</h2>
      <h2>(Can be yourself or someone else)</h2>
      <img src="https://cambridgecentralmosque.org/wp-content/uploads/2023/02/ccm_daybyday_framedbrick1.jpg">
      <p>
        If you are among the first 300 to set up donations of at least £30 for the full 30 days of Ramadan,
        the name you enter here will be engraved on the plaque affixed to the framed brick,
        from the original build of Cambridge Central Mosque, that you will be gifted.
        This name will also be featured on our Digital Wall.<br/>
        <em>[Maximum 25 characters]</em>
      </p>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="donationInfo.controls.onBehalfOf" placeholder="Donate on Behalf of">
        <mat-error *ngIf="donationInfo.controls.onBehalfOf.invalid">{{errorMessage(donationInfo.controls.onBehalfOf)}}</mat-error>
      </mat-form-field>
      <p>If you have chosen to donate at least £30 for the full 30 days of Ramadan and wish to remain anonymous,
        check the option below to avoid being published on our Digital Wall.</p>
      <mat-slide-toggle color="primary" [formControl]="donationInfo.controls.anonymous">Anonymous</mat-slide-toggle>
      <div class="actions-container">
        <button mat-stroked-button matStepperPrevious>BACK</button>
        <button mat-raised-button color="primary" type="submit" matStepperNext [disabled]="!donationDetailsComplete">NEXT</button>
      </div>
    </form>
  </mat-step>

  <mat-step [editable]="canEdit" [completed]="!canEdit || consentComplete">
    <ng-template matStepLabel *ngIf="stepperVertical">Consent</ng-template>
    <h1 *ngIf="!stepperVertical">Consent</h1>
    <h2>Disclaimer</h2>
    <p [innerHTML]="disclaimer"></p>
    <mat-slide-toggle [formControl]="consent.controls.disclaimer" color="primary">I have read, understood, and accepted the above disclaimer.</mat-slide-toggle>
    <h2>Data and Privacy Policy</h2>
    <mat-slide-toggle [formControl]="consent.controls.privacy" color="primary">
      Accept our <a href="https://cambridgecentralmosque.org/legal/" target="_blank" rel="noopener noreferer">Data & Privacy Policy</a>
    </mat-slide-toggle>
    <h2>Gift Aid (Optional)</h2>
    <p [innerHTML]="giftAidDisclaimer"></p>
    <mat-slide-toggle [formControl]="consent.controls.giftAid" color="primary">Consent to Gift Aid</mat-slide-toggle>
    <div class="actions-container">
      <button mat-stroked-button matStepperPrevious>BACK</button>
      <button mat-raised-button color="primary" matStepperNext [disabled]="!consentComplete">NEXT</button>
    </div>
  </mat-step>

  <mat-step [editable]="canEdit" [completed]="!canEdit || consentComplete">
    <ng-template matStepLabel *ngIf="stepperVertical">Iftars</ng-template>
    <h1 *ngIf="!stepperVertical">Iftars</h1>
    <h4>Would you like to add a little extra to your daily donation to provide iftar for the fasting this Ramadan?</h4>
    <h3><em>
      It was narrated from Zaid bin Khalid Al-Juhani that the Messenger of Allah (ﷺ) said:<br/>
      “Whoever gives food for a fasting person to break his fast, he will have a reward like theirs,
      without that detracting from their reward in the slightest.
    </em></h3><br/>

    <mat-form-field>
      <mat-label>Additional Daily Donation for Iftars</mat-label>
      <input type="number" matInput [formControl]="iftarAmount">
      <span matTextPrefix>£&nbsp;</span>
      <span matTextSuffix="">/day</span>
      <mat-error *ngIf="iftarAmount.invalid">{{errorMessage(iftarAmount)}}</mat-error>
    </mat-form-field>
    <div class="actions-container">
      <button mat-stroked-button matStepperPrevious>BACK</button>
      <button mat-raised-button color="primary" matStepperNext [disabled]="iftarAmount.invalid">NEXT</button>
    </div>
    <div class="actions-container">
      <button mat-stroked-button color="primary" matStepperNext (click)="resetIftarAmount()">SKIP</button>
    </div>
  </mat-step>

  <mat-step [editable]="checkoutState !== checkoutStates.COMPLETE" [completed]="checkoutState === checkoutStates.COMPLETE" #checkoutStep>
    <ng-template matStepLabel *ngIf="stepperVertical">Payment</ng-template>
    <h1 *ngIf="!stepperVertical">Payment</h1>
    <div class="loading-container">
      <mat-progress-bar
        *ngIf="checkoutLoadingState.show"
        [mode]="checkoutLoadingState.mode"
        [value]="checkoutLoadingState.value"
        color="primary"
      ></mat-progress-bar>
    </div>
    <ng-container *ngIf="checkoutSummary != null">
      <h2>Summary</h2>
      <h2>Donation Details:</h2>
      <ng-container *ngIf="checkoutSummary.backPay">
        <p>Lump Sum Donation: <b>{{checkoutSummary.backPay | currency:"GBP"}}</b></p>
        <p>Lump Sum Donation for Iftars: <b>{{checkoutSummary.backPayIftars | currency:"GBP"}}</b></p>
      </ng-container>
      <ng-container *ngIf="checkoutSummary.iterations">
        <p>Daily Amount: <b>{{checkoutSummary.amount | currency:"GBP"}} / day</b></p>
        <p>Additional Daily Amount for Iftars: <b>{{checkoutSummary.iftarAmount | currency:"GBP"}} / day</b></p>
        <p>Start Date: <b>{{numberToDate(checkoutSummary.startDate) | date:"dd/MM/yyyy"}}</b></p>
        <p>Duration: <b>{{checkoutSummary.iterations}} days</b></p>
      </ng-container>
      <p>On behalf of: <b>{{checkoutSummary.onBehalfOf}}</b></p>
      <p>Anonymous: <b>{{checkoutSummary.anonymous ? "Yes" : "No"}}</b></p>
      <h2>Your Details:</h2>
      <p>First Name: <b>{{checkoutSummary.firstName}}</b></p>
      <p>Surname: <b>{{checkoutSummary.surname}}</b></p>
      <p>Email: <b>{{checkoutSummary.email}}</b></p>
      <p>Phone Number: <b>{{checkoutSummary.phone}}</b></p>
      <p>Address: <b>{{checkoutSummary.address}}</b></p>
      <p>Postcode: <b>{{checkoutSummary.postcode}}</b></p>
      <p>Consent to Gift Aid: <b>{{checkoutSummary.giftAid ? "Yes" : "No"}}</b></p>
    </ng-container>
    <ng-container *ngIf="checkoutState === checkoutStates.NOT_BEGUN">
      <h2>Confirm Your Day By Day Donation</h2>
      <p>
        Select ‘Confirm Donation’ to enter your payment details and follow the instructions.
        <em>Kindly note, we prefer Direct Debit as transaction fees are lower than Card.</em>
      </p>
      <div class="actions-container">
        <button mat-stroked-button matStepperPrevious>BACK</button>
        <button mat-raised-button color="primary" (click)="setupPayment()">CONFIRM DONATION</button>
      </div>
    </ng-container>
  </mat-step>

  <mat-step [editable]="!canEdit">
    <ng-template matStepLabel *ngIf="stepperVertical">Complete</ng-template>
    <h1 *ngIf="!stepperVertical">Complete</h1>
    <h2 *ngIf="fullSummary === null">
      Loading Summary...
    </h2>
    <ng-container *ngIf="fullSummary !== null">
      <h2>Please save the information below for your records!</h2>
      <p>
        <em>Take a screenshot of this page and check that you have received a confirmation email.</em><br/><br/>
        <ng-container *ngIf="fullSummary.targetID && fullSummary.targetID <= brickLimit">
          <em>Alhamdulillah! You are amongst the first 300 people to set up donations of at least £30 per day for each of the 30 days of Ramadan.</em>
          You will receive an invoice for each donation when this begins.<br/><br/>
          <strong>Once complete, you will become eligible to receive your gift, a framed brick from the original build of
            Cambridge Central Mosque, presented at a ceremony by Shaykh Abdal Hakim Murad.</strong>
        </ng-container>
        <ng-container *ngIf="!(fullSummary.targetID && fullSummary.targetID <= brickLimit)">
          <em>Alhamdulillah! You have successfully set up daily donations for the holy month of Ramadan.</em>
          You will receive an invoice for each donation when this begins.
        </ng-container>
      </p>
      <br/>
      <p>If you have any questions, reply to this email and we will endeavour to respond as soon as possible. Thank you for supporting Cambridge Central Mosque.</p>
      <h2>Summary</h2>
      <h2>Donation Details:</h2>
      <ng-container *ngIf="fullSummary.backPay">
        <p>Lump Sum Donation: <b>{{fullSummary.backPay | currency:"GBP"}}</b></p>
        <p>Lump Sum Donation for Iftars: <b>{{fullSummary.backPayIftars | currency:"GBP"}}</b></p>
      </ng-container>
      <ng-container *ngIf="fullSummary.iterations">
        <p>Daily Amount: <b>{{fullSummary.amount | currency:"GBP"}} / day</b></p>
        <p>Additional Daily Amount for Iftars: <b>{{fullSummary.iftarAmount | currency:"GBP"}} / day</b></p>
        <p>Start Date: <b>{{numberToDate(fullSummary.startDate) | date:"dd/MM/yyyy"}}</b></p>
        <p>Duration: <b>{{fullSummary.iterations}} days</b></p>
      </ng-container>
      <br/>
      <p>On behalf of: <b>{{fullSummary.onBehalfOf}}</b></p>
      <p>Anonymous: <b>{{fullSummary.anonymous}}</b></p>
      <h2>Your Details:</h2>
      <p>First Name: <b>{{fullSummary.firstName}}</b></p>
      <p>Surname: <b>{{fullSummary.surname}}</b></p>
      <p>Email: <b>{{fullSummary.email}}</b></p>
      <p>Phone Number: <b>{{fullSummary.phone}}</b></p>
      <p>Address: <b>{{fullSummary.address}}</b></p>
      <p>Postcode: <b>{{fullSummary.postcode}}</b></p>
      <br/>
      <p>Consent to Gift Aid: <b>{{fullSummary.giftAid ? "Yes" : "No"}}</b></p>
      <p>Date of consent to Gift Aid: <b>{{numberToDate(fullSummary.giftAidConsentDate) | date:"dd/MM/yyyy"}}</b></p>
    </ng-container>

    <button mat-raised-button color="primary" (click)="goToMainSite()">Continue Back to Main Website</button>
  </mat-step>
</mat-stepper>
