<ng-container *ngIf="state === subscriptionState.NOT_FOUND">
  <p>It appears there was an error. We are lacking the required information to start the subscription.</p>
  <p>Use the button below to return to the start of the setup process.</p>
  <div class="action-container">
    <button mat-raised-button color="primary" [routerLink]="['/', 'setup']">Go To The Setup Page</button>
  </div>
</ng-container>
<ng-container *ngIf="state === subscriptionState.IN_PROGRESS">
  <p>We are setting up your subscription to donate during Ramadan 2023 through our Day By Day Program.</p>
  <div class="action-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>
<ng-container *ngIf="state === subscriptionState.COMPLETE">
  <p>We have successfully setup your subscription to donate during Ramadan 2023 through our Day By Day Program.</p>
  <div class="action-container">
    <button mat-raised-button color="primary" (click)="goToWebsiteSuccessPage()">Go To The Setup Page</button>
  </div>
</ng-container>
<ng-container *ngIf="state === subscriptionState.ERROR">
  <p>There appears to have been an error setting up your subscription to donate during Ramadan 2023 through our Day By Day Program.
    If it succeeded you will receive an email confirming.</p>
  <p>If it was not successful, use the button below to return to the start of the setup process.</p>
  <div class="action-container">
    <button mat-raised-button color="primary" [routerLink]="['/', 'setup']">Go To The Setup Page</button>
  </div>
</ng-container>
