<h1 mat-dialog-title>30 By 30</h1>
<mat-dialog-content>
  <p>
    As you may be aware, the Mosque is running a scheme to gift framed bricks to the first 300 signups.
    <b>To be eligible you must signup for at least £30, for the full 30 days of Ramadan.</b>
    Of course, there will inshallah still be great reward in doing less, but be aware that this is the limit on who will receive the gift.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" mat-dialog-close="">I UNDERSTAND</button>
</mat-dialog-actions>

