<h1 mat-dialog-title>Our Ask</h1>
<mat-dialog-content>
  <p>
    <strong>We are asking you to commit to donate at least £30 on each of the blessed 30 days of
    the holy month of Ramadan.</strong><br/>
    By being among the first 300 people to donate at least £30 for the 30 days of the month you will receive a framed
    brick from the original build of Cambridge Central Mosque with an engraved plaque featuring a name of your choice.<br/>
    If you choose to donate less, we thank you for your pledge and may Allah reward you immensely.

  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" mat-dialog-close="">I UNDERSTAND</button>
</mat-dialog-actions>

